---
defaults:
    all: &defaults
        ControlMaster: auto
        ControlPersist: 0
        ControlPath: ~/.ssh/masters/%r@%n:%p.global
        UserKnownHostsFile: ~/.ssh/hosts/global
        Protocol: 2
        ServerAliveInterval: 15
        ServerAliveCountMax: 3
        TCPKeepAlive: yes
        User: root
        HashKnownHosts: no
        VisualHostKey: no
        ForwardAgent: yes
        _hostkeyalias: True
        _type: ssh
        Port: 22
    defaults-home: &defaults-home
        <<: *defaults
        UserKnownHostsFile: /home/e/.ssh/hosts/home
        ControlPath: ~/.ssh/masters/%r@%n:%p.home
        ServerAliveInterval: 280
        ServerAliveCountMax: 2
        User: e
        TCPKeepAlive: no
        Port: 24883
    oldgear: &oldgear
        KexAlgorithms: diffie-hellman-group1-sha1
        Ciphers: aes256-cbc
    reallyoldgear: &reallyoldgear
        <<: *oldgear
        HostKeyAlgorithms: ssh-dss
home: !include worlds/home.yaml
